<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression" parallel="tests" thread-count="1" verbose="1" >
    <test name="TestSuite">
        <parameter name="browserName" value="chrome"/>
        <parameter name="baseUrl" value="https://www.entrata.com"/>
        <classes>
            <class name="Tests.solutions.EntrataStudentSpec"/>
        </classes>
    </test>
</suite>
